<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="/static/plugins/bootstrap/js/bootstrap.js"/>
<link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>

<script>

    {#function login() {#}
    {#    window.location.href="login.html/";#}
    {#    #}

</script>
<div>
  <div id = 'header'>
      <div>
        you can change the world!!!
      </div>
      <div style="float: right;padding-right: 40px">
          <a href="login.html/" >登录</a>
          <a href="register.html">注册</a>
      </div>
      <div>

  <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="home" aria-controls="home" role="tab" data-toggle="tab">首页</a></li>
        <li role="presentation" ><a href="good" aria-controls="profile" role="tab" data-toggle="tab">精华</a></li>
        <li role="presentation"><a href="new" aria-controls="messages" role="tab" data-toggle="tab">最新</a></li>

      </ul>
          <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>



  </div>

</div>
</body>
</html>